<configuration>
    <property name="LOG_HOME" value="logs/"/>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%highlight(%-5level)] [%thread] [%X{requestId}] [%X{hostId}] %green(%logger{36}:%line) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/server.log.%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] [%t] [%X{requestId}] [%X{hostId}] %C:%L - %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <logger name="ai.suncode" level="INFO">

    </logger>

    <root level="INFO">
        <appender-ref ref="Console" />
        <appender-ref ref="FILE" />
    </root>
</configuration>